* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}

.container {
  max-width: 978px;
  margin: 0 auto;
}

header {
  height: 70px;
  border-bottom: 1px solid #5f6368;
}

header a {
  color: #5f6368;
  text-decoration: none;
}

header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

header .header-top .left {
  display: flex;
  align-items: center;
}

header .header-top .left .website-section {
  margin-left: 7.5px;
  font-size: 23.8px;
}

header .header-top .right .header-button {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  padding: 5px;
  border-radius: 50%;
  font-size: 16.8px;
  transition: background-color 0.2s;
}

header .header-top .right .header-button:not(:first-child) {
  margin-right: 7.5px;
}

header .header-top .right .header-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

header .header-top .right .header-button img {
  width: 100%;
  border-radius: 50%;
}

.questions {
  padding: 45px 0;
}

.questions .question {
  padding: 30px 0;
}

.questions .question h2 {
  color: #474a4d;
  font-size: 23.8px;
  line-height: 1.4;
  margin-bottom: 22.5px;
}

.questions .question p {
  margin-bottom: 22.5px;
  letter-spacing: 0.2px;
}

.questions .question p a,
.questions .question p a:visited {
  text-decoration: none;
  color: #3367d6;
}

